.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: $tablet) {
        flex-direction: column-reverse;
    }

    &:not(.container) {
        display: block;

        .about__heading.container {
            margin-bottom: 32px;
            display: inline-block;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }
        }
        .about__video {
            margin-top: 22px;
        }
        .about__text {
            margin-bottom: 22px;
        }
    }

    &__video {
        width: 48.5%;
        @media (max-width: $tablet) {
            width: auto;
        }

        iframe {
            width: 100%;
            //height: auto;
        }
    }

    &__text-wrap {
        width: 48.5%;
        text-align: left;
        @media (max-width: $tablet) {
            width: auto;
        }
    }

    &__heading {}

    &__text {
        font-size: 18px;
        color: $gray-dark;
        @media (max-width: $tablet) {
            font-size: 15px;
        }
    }
}
