.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: $tablet) {
        flex-direction: column-reverse;
    }
    @media (max-width: $mobile) {
        margin-bottom: 18px;
    }

    &:not(.container) {
        display: block;

        .about__heading.container {
            margin-bottom: 32px;
            display: inline-block;
            padding: 0;
            @media (max-width: $mobile) {
                margin-bottom: 2px;
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }
        }
        .about__video {
            margin-top: 22px;
            @media (max-width: $mobile) {
                margin-top: 0;
            }
        }
        .about__text {
            margin-bottom: 22px;
            @media (max-width: $mobile) {
                text-align: left;
                margin-bottom: 16px;
            }
        }
    }

    &__video {
        width: 48.5%;
        @media (max-width: $tablet) {
            width: auto;
        }

        iframe {
            width: 100%;
            //height: auto;
        }
    }

    &__text-wrap {
        width: 48.5%;
        text-align: left;
        @media (max-width: $tablet) {
            width: auto;
            text-align: center;
        }
    }

    &__heading {}

    &__text {
        font-size: 18px;
        color: $gray-dark;
        @media (max-width: $tablet) {
            font-size: 15px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }
}
