.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;

    @media (max-width: $mobile) {
        background-image: none;
    }

    &__text {
        width: 50%;
        text-align: left;
        color: $red;
        padding-top: 36px;
        margin-bottom: 70px;
        @media (max-width: $tablet) {
            padding-top: 20px;
            width: 45%;
        }

        @media (max-width: $mobile) {
            width: 100%;
            text-align: center;
            margin-bottom: 27px;
        }
    }

    &__heading {
        font-size: 38px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 66px;

        &:first-child {
            font-weight: 300;
            margin-bottom: 46px;

            @media (max-width: $tablet) {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 36px;
            }

            @media (max-width: $mobile) {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: $tablet) {
            font-size: 22px;
            margin-bottom: 56px;
        }

        @media (max-width: $mobile) {
            font-size: 18px;
            margin-bottom: 16px;
        }
    }

    &__button {}

    &__desc {
        font-size: 24px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 0;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}
