.contacts {
    margin-top: -13px;

    &__heading {
        margin-bottom: 44px;
        padding: 0;
        @media (max-width: $mobile) {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    &__map {
        width: 100%;
        height: 370px;

        iframe {
            width: 100%;
            height: 100%;
        }
        @media (max-width: $mobile) {
            display: none;
        }

    }

    &__info {
        display: flex;
        padding-top: 41px;
        padding-bottom: 20px;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
        @media (max-width: $mobile) {
            padding-top: 0;
        }
    }

    &__block {
        width: 33.33%;
        text-align: left;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &--managers {
            @media (max-width: $tablet) {
                width: 100%;
                display: flex;
                justify-content: space-between;

                div {
                    width: calc(50% - 12px);
                }
            }
            @media (max-width: $mobile) {
                flex-wrap: wrap;
                div {
                    width: 100%;
                    margin-top: 16px;
                }
            }
        }

        &--data {
            @media (max-width: $tablet) {
                text-align: center;
            }
            @media (max-width: $mobile) {
                text-align: left;
                margin-top: 16px;
            }
        }

    }

    &__text {
        font-size: 18px;
        color: $gray-dark;
        margin: 0;
        margin-bottom: 23px;

        @media (max-width: $tablet) {
            font-size: 15px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
}
