.header {

    box-shadow: 0px 1px 7px $gray-light;
    position: relative;
    z-index: 10;

    &--no-js {
        .header__nav {
            display: block;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 23px;
        padding-bottom: 15px;

        @media (max-width: $tablet) {
            flex-direction: row-reverse;
        }
    }

    &__logo {}

    &__burger {
        display: none;
        background-color: transparent;
        border: none;
        appearance: none;

        svg {
            fill: $gray;
        }

        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__nav {
        flex-grow: 1;

        &--closed {
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &__nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__nav-item {
        width: 33.33%;
        padding: 20px 31px;
    }

    &__nav-link {}

    &__contact-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {}

    &__button {
        margin-top: 17px;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}

//logo svg
.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #B01116;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
}

.st3 {
    font-family: $default-font;
}

.st4 {
    font-size: 41px;
}
