.header {

    box-shadow: 0px 1px 7px $gray-light;
    position: relative;
    z-index: 10;

    &--no-js {
        .header__nav {
            display: block;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 23px;
        padding-bottom: 15px;

        @media (max-width: $tablet) {
            flex-direction: row-reverse;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 12px;
        }
    }

    &__logo {
        @media (max-width: $tablet) {
            svg {
                width: 60px;
                height: auto; 
            }
        }

        @media (max-width: $mobile) {
            svg {
                width: 40px;
                height: auto;

                text {
                    display: none;
                }
            }
        }
    }

    &__burger {
        display: none;
        background-color: transparent;
        border: none;
        appearance: none;
        padding: 0;

        svg {
            fill: $gray;
            @media (max-width: $mobile) {
                width: 30px;
                height: auto;
            }
        }

        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__nav {
        flex-grow: 1;

        &--closed {
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &--opened {
            @media (max-width: $tablet) {
                order: 6;
                width: 100%;
                animation-name: open;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                animation-iteration-count: 1;
            }
        }
    }

    &__nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__nav-item {
        width: 33.33%;
        padding: 20px 31px;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__nav-link {}

    &__contact-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: $tablet) {
            margin-left: auto;
            margin-right: 40px;
        }
    }

    &__phone {
        @media (max-width: $tablet) {
            font-size: 18px;
        }

        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    &__button {
        margin-top: 17px;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}

//logo svg
.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #B01116;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
}

.st3 {
    font-family: $default-font;
}

.st4 {
    font-size: 41px;
}
