.links {
    display: flex;
    justify-content: space-around;
    padding-top: 85px;
    padding-bottom: 95px;

    @media (max-width: $tablet) {
        justify-content: space-between;
    }

    &__item {
        width: 408px;
        padding: 20px;
        color: $green;
        border: 1px solid $green;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $tablet) {
            width: calc(50% - 12px);
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 50%;
        margin-right: 15px;

        svg {
            fill: $green;
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__text {
        font-size: 18px;
        text-decoration: underline;
    }
}
