.payment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid $gray-light;
    height: 100%;
    padding: 15px 15px 25px;
    min-height: 334px;

    @media (max-width: $tablet) {
        min-height: 0;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &:hover {
        box-shadow: 2px 0px 16px $gray;
        border: none;

        .payment-card__price span {
            font-weight: 500;

            @media (max-width: $tablet) {
                font-weight: 300;
            }
        }

        @media (max-width: $tablet) {
            background-color: $red;
            border: 1px solid $white;
            box-shadow: none;
            color: $white;
        }
    }

    &__price {
        font-size: 27px;
        margin: 0;
        margin-bottom: auto;
        font-weight: 300;

        span {
            display: block;
            font-size: 50px;
            margin-bottom: -7px;

            @media (max-width: $tablet) {
                font-size: 18px;
                display: inline;
            }
        }

        @media (max-width: $tablet) {
            font-size: 18px;
        }
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }

    &__text {
        font-size: 17px;
        margin: 0;
        margin-bottom: 15px;

        &:first-of-type {
            margin-top: 35px;
        }

        &:last-of-type {
            margin-bottom: 30px;
        }

        &-other {
            font-size: 24px;
            margin-top: auto;
            margin-bottom: auto;

            @media (max-width: $tablet) {
                font-size: 18px;
            }

            & + .payment-card__button {
                margin-top: 0;
            }
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__button {
        width: auto;
        margin-top: auto;
        align-self: center;

        @media (max-width: $tablet) {
            display: none;
        }
    }
}
