.reviews{
    background-color: $bg-highlight;
    @media (max-width: $tablet) {
        display: none;
    }
    &__heading{
        padding: 0;
        margin-top: 22px;
    }
    &__list{
        display: flex;
        list-style: none;
        padding-top: 44px;
        padding-bottom: 27px;
    }
    &__item{
        width: calc(33.33% - 20px);
        margin-right: 30px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        iframe{
            width: 100%;
        }
    }
}