.tab {
    border-bottom: 1px solid $red;
    text-align: left;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    &__heading {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 35px;

        @media (max-width: $tablet) {
            font-size: 18px;
        }

        @media (max-width: $mobile) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &__body {
        padding-bottom: 35px;
        display: none;
        transition: all 0.2s ease-in;

        &--opened {
            display: block;
            animation-name: open;
            animation-duration: 1s;
            animation-fill-mode: backwards;
            animation-iteration-count: 1;
        }

        @media (max-width: $mobile) {
            padding-bottom: 16px;
        }
    }

    &__sub-heading {
        font-size: 18px;
        font-weight: 500;
        color: $gray-dark;

        @media (max-width: $tablet) {
            font-size: 15px;
        }

        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    &__text {
        font-size: 18px;
        margin: 0;

        @media (max-width: $tablet) {
            font-size: 15px;
        }

        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    &__button {
        display: block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        border: 9px solid transparent;
        border-top: 16px solid $gray-dark;
        transition: all 0.2s ease-in;
        appearance: none;
        background-color: transparent;
        border-radius: 0;

        &--opened {
            transform: rotate(180deg);
            top: -10px;
        }

        &:hover {
            border: 9px solid transparent;
            border-top: 16px solid $red;
        }
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-30%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}
