.text-block{
    background-color: $bg-highlight;
    padding-top: 18px;
    padding-bottom: 10px;
    &__text{
        font-size: 20px;
        color: $gray-dark;
        margin: 0;
        margin-bottom: 25px;
        @media (max-width: $tablet) {
            font-size: 15px;
        }
    }
}