.whatchdogs {
    padding-top: 48px;
    background-image: url(../img/wings.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 90px;
    @media (max-width: $mobile) {
        padding-top: 22px;
    }

    &__heading {
        margin-bottom: 54px;
        @media (max-width: $mobile) {
            margin-bottom: 24px;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        margin-bottom: 58px;
        list-style: none;
        @media (max-width: $mobile) {
            margin-bottom: 24px;
        }
    }

    &__list-item {
        margin-bottom: 22px;
        @media (max-width: $mobile) {
            margin-bottom: 12px;
        }
    }

    &__name {
        font-size: 18px;
        color: $gray-dark;
        margin: 0;
        @media (max-width: $tablet) {
            font-size: 15px;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }
}
