.btn {
    font-size: 20px;
    padding: 10px 30px;
    background-color: $red;
    color: $white;
    display: inline-block;
    transition: all 0.2s ease-in;

    &--big {
        font-size: 24px;
        padding: 14px 65px;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            font-size: 18px;
        }

        @media (max-width: $mobile) {
            padding: 10px 20px;
            width: 100%;
            text-align: center;
        }

        &:hover {
            background-color: $red-light;
        }
    }

    &--transparent {
        background-color: transparent;
        border: 1px solid $red;
        color: $red;
        font-size: 18px;
        padding: 9px 58px;

        &:hover {
            border-color: $red-light;
            color: $red-light;
        }
    }

    &--gray {
        background-color: transparent;
        border: 1px solid $gray;
        color: $gray;
        font-size: 18px;
        padding: 10px 79px;

        @media (max-width: $mobile) {
            font-size: 14px;
            width: 100%;
            padding: 10px;
        }

        &:hover {
            border-color: $gray-dark;
            color: $gray-dark;
        }
    }
}
