.heading {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid $red;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
    @media (max-width: $tablet) {
        font-size: 22px;
    }
    @media (max-width: $mobile) {
        font-size: 16px;
    }
}