html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $gray-light;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;

    font-family: $default-font;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: $default-text-color;
    text-align: center;

    background-color: $bg-color;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $tablet) {
        max-width: 1200px; 
        padding: 0 25px;
    }
}
