html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;

    font-family: $default-font;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: $default-text-color;

    background-color: $bg-color;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {
        max-width: 1150px;
        padding: 0 25px;
    }
}
