$default-font: "Rubik", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1150px;

$red-light: #af2429;
$red: #b11016;

$gray-dark: #2e2e2e;
$gray: #717171;
$gray-light: #8f8f8f;
$gray-lighter: #f8f8f8;

$green: #1b6517;
$white: #ffffff;

$default-text-color: $gray-dark;
$slide-text-color: $red;
$link-color: $red;

$bg-color: $white;
$bg-highlight: $gray-lighter;